body,
html {
	background-color: #FFFFFF;
	height: 100%;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-size: 1rem;
	font-weight: normal;
}

.main {
	width: 800px;
	margin: 0 auto;
	padding: 20px 0 60px 0;
	background-color: #FFFFFF;
}

.main h4 {
	padding-bottom: 10px;
}

.main .hang {
	width: 100%;
	padding-bottom: 20px;
}

.main .clear {
	clear: both !important;
}

.main .width15 {
	width: 15%;
	float: left;
}

.main .width35 {
	width: 35%;
	float: left;
	padding-left: 20px;
}

.main label {
	font-weight: normal;
}

.main .margin-btm15 {
	margin-bottom: 15px;
}

.main .float-left {
	float: left;
}

.none-padding {
	padding: 0;
}

#save {
	margin-top: 30px;
	width: 150px;
	height: 40px;
	line-height: 26px;
	margin-bottom: 30px;
}

.top-border {
	height: 10px;
	border-top: 1px solid #929292;
}
